BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 120

AccessModifierOffset: -4

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: false
  BeforeElse: false

PointerAlignment: Left

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true

AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: false

NamespaceIndentation: None

BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4

SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements

SortIncludes: true
SortUsingDeclarations: true