---
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

AccessModifierOffset: -4

AlwaysBreakTemplateDeclarations: Yes

ColumnLimit: 0

BreakBeforeBraces: Allman

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

PointerAlignment: Left

SortIncludes: true

Cpp11BracedListStyle: false