Build/
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

*.o
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out
*.app
*.dSYM/

*.user
*.suo
*.vcxproj.user
.vs/
.vscode/
.idea/

.DS_Store
*.swp
*.swo
*~

*.spv
Sandbox/
Sandbox/Config/EditorLayout.ini
Sandbox/Config/Editor.ini
